#{
  {ty_key, '.', plus, 0} =>
     {ty_scheme, [], {intersection, 
      [
       {fun_full, [{predef, integer}, {predef, integer}], {predef, integer}}
       %,
       % {fun_full, [{predef, float}, {predef, float}], {predef, float}}
      ]}},
  {ty_key, '.', vars, 0} => {ty_scheme, [], {fun_full, [{var, a1}, {var, a2}], {var, a3}}},
  {ty_key, '.', c1, 0} => {ty_scheme, [], {intersection, [{singleton, 1}, {negation, {var, a1}}]}}
}.
