{{node,148},
 #{
   {node,1} => {leaf, {ty, <<1:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0},#{}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,2} => {leaf,empty},
   {node,3} => {leaf,any},
   {node,12} => {node,{var,name,'$2'},{leaf,any},{leaf,empty}},
   {node,13} => {node,{var,name,'$28'},{leaf,any},{leaf,empty}},
   {node,15} => {node,{var,name,'$5'},{leaf,any},{leaf,empty}},
   {node,38} => {node,{var,name,'$29'},{leaf,any},{leaf,empty}},
   {node,42} => {node,{var,name,'$35'},{leaf,any},{leaf,empty}},
   {node,44} => {node,{var,name,'$14'},{leaf,any},{leaf,empty}},
   {node,48} => {node,{var,name,'$1'},{leaf,any},{leaf,empty}},
   {node,50} => {node,{var,name,'$6'},{leaf,any},{leaf,empty}},
   {node,63} =>
    {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0},
       #{2 => {node,{ty_tuple,2,[{node,64},{node,1}]},{leaf,1},{leaf,0}}}},
      {{leaf,0},#{}}, {leaf,0}}},
   {node,64} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {node,{ty_tuple,2,[{node,3},{node,1}]},{leaf,1},{leaf,0}},
      0,
      {{leaf,0},#{}},
      {{leaf,0},#{}},
      {leaf,0}}},
   {node,67} => {node,{var,name,'$11'},{leaf,any},{leaf,empty}},
   {node,68} => {node,{var,name,'$12'},{leaf,any},{leaf,empty}},
   {node,70} => {node,{var,name,'$3'},{leaf,any},{leaf,empty}},
   {node,71} => {node,{var,name,'$4'},{leaf,any},{leaf,empty}},
   {node,73} => {node,{var,name,'$13'},{leaf,any},{leaf,empty}},
   {node,75} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {leaf,0},
      0,
      {{leaf,0},
       #{2 => {node,{ty_tuple,2,[{node,2},{node,1}]},{leaf,1},{leaf,0}}}},
      {{leaf,0},#{}},
      {leaf,0}}},
   {node,76} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {leaf,0},
      0,
      {{leaf,0},
       #{2 => {node,{ty_tuple,2,[{node,78},{node,78}]},{leaf,1},{leaf,0}}}},
      {{leaf,0},#{}},
      {leaf,0}}},
   {node,78} =>
    {leaf,
     {ty,
      <<1:5>>,
      {{0,nil},finite},
      [],
      {node,{ty_tuple,2,[{node,3},{node,1}]},{leaf,1},{leaf,0}},
      0,
      {{leaf,0},#{}},
      {{leaf,0},#{}},
      {leaf,0}}},
   {node,80} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {leaf,0},
      0,
      {{leaf,0},
       #{2 => {node,{ty_tuple,2,[{node,3},{node,3}]},{leaf,1},{leaf,0}}}},
      {{leaf,0},#{}},
      {leaf,0}}},
   {node,82} => {node,{var,name,'$32'},{leaf,any},{leaf,empty}},
   {node,83} => {node,{var,name,'$33'},{leaf,any},{leaf,empty}},
   {node,85} => {node,{var,name,'$34'},{leaf,any},{leaf,empty}},
   {node,88} => {node,{var,name,'$26'},{leaf,any},{leaf,empty}},
   {node,89} => {node,{var,name,'$27'},{leaf,any},{leaf,empty}},
   {node,148} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {leaf,0},
      0,
      {{leaf,0},
       #{2 =>
          {node,
           {ty_tuple,2,[{node,3},{node,3}]},
           {node,
            {ty_tuple,2,[{node,3},{node,63}]},
            {node,
             {ty_tuple,2,[{node,3},{node,3}]},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {node,
                        {ty_tuple,2,[{node,82},{node,83}]},
                        {node,
                         {ty_tuple,2,[{node,85},{node,42}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,15},{node,50}]},
                   {node,
                    {ty_tuple,2,[{node,67},{node,68}]},
                    {node,
                     {ty_tuple,2,[{node,70},{node,71}]},
                     {node,
                      {ty_tuple,2,[{node,73},{node,44}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,
                 {ty_tuple,2,[{node,12},{node,48}]},
                 {node,
                  {ty_tuple,2,[{node,15},{node,50}]},
                  {node,
                   {ty_tuple,2,[{node,67},{node,68}]},
                   {node,
                    {ty_tuple,2,[{node,70},{node,71}]},
                    {node,
                     {ty_tuple,2,[{node,73},{node,44}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,1}},
                 {leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,13},{node,38}]},
                     {node,
                      {ty_tuple,2,[{node,15},{node,50}]},
                      {node,
                       {ty_tuple,2,[{node,67},{node,68}]},
                       {node,
                        {ty_tuple,2,[{node,70},{node,71}]},
                        {node,
                         {ty_tuple,2,[{node,73},{node,44}]},
                         {node,
                          {ty_tuple,2,[{node,88},{node,89}]},
                          {leaf,0},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,13},{node,38}]},
                     {node,
                      {ty_tuple,2,[{node,15},{node,50}]},
                      {node,
                       {ty_tuple,2,[{node,67},{node,68}]},
                       {node,
                        {ty_tuple,2,[{node,70},{node,71}]},
                        {node,
                         {ty_tuple,2,[{node,73},{node,44}]},
                         {node,
                          {ty_tuple,2,[{node,82},{node,83}]},
                          {node,
                           {ty_tuple,2,[{node,85},{node,42}]},
                           {node,
                            {ty_tuple,2,[{node,88},{node,89}]},
                            {leaf,0},
                            {leaf,1}},
                           {leaf,1}},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,13},{node,38}]},
                    {node,
                     {ty_tuple,2,[{node,15},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,67},{node,68}]},
                      {node,
                       {ty_tuple,2,[{node,70},{node,71}]},
                       {node,
                        {ty_tuple,2,[{node,73},{node,44}]},
                        {node,
                         {ty_tuple,2,[{node,88},{node,89}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,13},{node,38}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {node,
                        {ty_tuple,2,[{node,88},{node,89}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}}},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,42}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,13},{node,38}]},
                     {node,
                      {ty_tuple,2,[{node,88},{node,89}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,13},{node,38}]},
                     {node,
                      {ty_tuple,2,[{node,82},{node,83}]},
                      {node,
                       {ty_tuple,2,[{node,85},{node,42}]},
                       {node,
                        {ty_tuple,2,[{node,88},{node,89}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,13},{node,38}]},
                    {node,
                     {ty_tuple,2,[{node,88},{node,89}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,13},{node,38}]},
                   {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}}}},
            {node,
             {ty_tuple,2,[{node,3},{node,75}]},
             {node,
              {ty_tuple,2,[{node,3},{node,3}]},
              {node,
               {ty_tuple,2,[{node,3},{node,80}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,75}]},
                 {leaf,0},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,82},{node,83}]},
                   {node,{ty_tuple,2,[{node,85},{node,42}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {leaf,0}},
               {leaf,0}},
              {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
             {node,
              {ty_tuple,2,[{node,3},{node,76}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,13},{node,38}]},
                    {node,
                     {ty_tuple,2,[{node,88},{node,89}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,13},{node,38}]},
                    {node,
                     {ty_tuple,2,[{node,82},{node,83}]},
                     {node,
                      {ty_tuple,2,[{node,85},{node,42}]},
                      {node,
                       {ty_tuple,2,[{node,88},{node,89}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,13},{node,38}]},
                   {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,
                 {ty_tuple,2,[{node,12},{node,48}]},
                 {node,
                  {ty_tuple,2,[{node,13},{node,38}]},
                  {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                  {leaf,1}},
                 {leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}}}},
           {node,
            {ty_tuple,2,[{node,3},{node,63}]},
            {node,
             {ty_tuple,2,[{node,3},{node,3}]},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {node,
                        {ty_tuple,2,[{node,82},{node,83}]},
                        {node,
                         {ty_tuple,2,[{node,85},{node,42}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,15},{node,50}]},
                   {node,
                    {ty_tuple,2,[{node,67},{node,68}]},
                    {node,
                     {ty_tuple,2,[{node,70},{node,71}]},
                     {node,
                      {ty_tuple,2,[{node,73},{node,44}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,
                 {ty_tuple,2,[{node,12},{node,48}]},
                 {node,
                  {ty_tuple,2,[{node,15},{node,50}]},
                  {node,
                   {ty_tuple,2,[{node,67},{node,68}]},
                   {node,
                    {ty_tuple,2,[{node,70},{node,71}]},
                    {node,
                     {ty_tuple,2,[{node,73},{node,44}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,1}},
                 {leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,15},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,67},{node,68}]},
                      {node,
                       {ty_tuple,2,[{node,70},{node,71}]},
                       {node,
                        {ty_tuple,2,[{node,73},{node,44}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,15},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,67},{node,68}]},
                      {node,
                       {ty_tuple,2,[{node,70},{node,71}]},
                       {node,
                        {ty_tuple,2,[{node,73},{node,44}]},
                        {node,
                         {ty_tuple,2,[{node,82},{node,83}]},
                         {node,
                          {ty_tuple,2,[{node,85},{node,42}]},
                          {leaf,0},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,15},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,67},{node,68}]},
                     {node,
                      {ty_tuple,2,[{node,70},{node,71}]},
                      {node,
                       {ty_tuple,2,[{node,73},{node,44}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,15},{node,50}]},
                   {node,
                    {ty_tuple,2,[{node,67},{node,68}]},
                    {node,
                     {ty_tuple,2,[{node,70},{node,71}]},
                     {node,
                      {ty_tuple,2,[{node,73},{node,44}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}}},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,42}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {leaf,0},
                   {node,
                    {ty_tuple,2,[{node,12},{node,48}]},
                    {node,
                     {ty_tuple,2,[{node,82},{node,83}]},
                     {node,
                      {ty_tuple,2,[{node,85},{node,42}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {leaf,0}},
                 {leaf,0}},
                {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}}}},
            {node,
             {ty_tuple,2,[{node,3},{node,75}]},
             {node,
              {ty_tuple,2,[{node,3},{node,3}]},
              {node,
               {ty_tuple,2,[{node,3},{node,80}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,75}]},
                 {leaf,0},
                 {node,
                  {ty_tuple,2,[{node,12},{node,48}]},
                  {node,
                   {ty_tuple,2,[{node,82},{node,83}]},
                   {node,{ty_tuple,2,[{node,85},{node,42}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {leaf,0}},
               {leaf,0}},
              {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
             {node,
              {ty_tuple,2,[{node,3},{node,76}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,12},{node,48}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,42}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,12},{node,48}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,12},{node,48}]},
               {leaf,1},
               {leaf,0}}}}}}}},
      {{leaf,0},#{}},
      {leaf,0}}}}
}.
