{{node,148},
 #{
   {node,1} => {leaf, {ty, <<1:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0},#{}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,2} => {leaf,empty},
   {node,3} => {leaf,any},
   {node,11} => {node,{var,name,'$28',undefined},{leaf,any},{leaf,empty}},
   {node,14} => {node,{var,name,'$2',undefined},{leaf,any},{leaf,empty}},
   {node,16} => {node,{var,name,'$5',undefined},{leaf,any},{leaf,empty}},
   {node,30} => {node,{var,name,'$35',undefined},{leaf,any},{leaf,empty}},
   {node,33} => {node,{var,name,'$1',undefined},{leaf,any},{leaf,empty}},
   {node,42} => {node,{var,name,'$29',undefined},{leaf,any},{leaf,empty}},
   {node,46} => {node,{var,name,'$6',undefined},{leaf,any},{leaf,empty}},
   {node,50} => {node,{var,name,'$14',undefined},{leaf,any},{leaf,empty}},
   {node,63} => {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0}, #{2 => {node,{ty_tuple,2,[{node,64},{node,1}]},{leaf,1},{leaf,0}}}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,64} => {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {node,{ty_tuple,2,[{node,3},{node,1}]},{leaf,1},{leaf,0}}, 0, {{leaf,0},#{}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,66} => {node,{var,name,'$13',undefined},{leaf,any},{leaf,empty}},
   {node,68} => {node,{var,name,'$11',undefined},{leaf,any},{leaf,empty}},
   {node,69} => {node,{var,name,'$12',undefined},{leaf,any},{leaf,empty}},
   {node,71} => {node,{var,name,'$3',undefined},{leaf,any},{leaf,empty}},
   {node,72} => {node,{var,name,'$4',undefined},{leaf,any},{leaf,empty}},
   {node,75} => {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0}, #{2 => {node,{ty_tuple,2,[{node,2},{node,1}]},{leaf,1},{leaf,0}}}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,76} => {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0}, #{2 => {node,{ty_tuple,2,[{node,78},{node,78}]},{leaf,1},{leaf,0}}}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,78} => {leaf, {ty, <<1:5>>, {{0,nil},finite}, [], {node,{ty_tuple,2,[{node,3},{node,1}]},{leaf,1},{leaf,0}}, 0, {{leaf,0},#{}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,80} => {leaf, {ty, <<0:5>>, {{0,nil},finite}, [], {leaf,0}, 0, {{leaf,0}, #{2 => {node,{ty_tuple,2,[{node,3},{node,3}]},{leaf,1},{leaf,0}}}}, {{leaf,0},#{}}, {leaf,0}}},
   {node,82} => {node,{var,name,'$32',undefined},{leaf,any},{leaf,empty}},
   {node,83} => {node,{var,name,'$33',undefined},{leaf,any},{leaf,empty}},
   {node,85} => {node,{var,name,'$34',undefined},{leaf,any},{leaf,empty}},
   {node,88} => {node,{var,name,'$26',undefined},{leaf,any},{leaf,empty}},
   {node,89} => {node,{var,name,'$27',undefined},{leaf,any},{leaf,empty}},
   {node,148} =>
    {leaf,
     {ty,
      <<0:5>>,
      {{0,nil},finite},
      [],
      {leaf,0},
      0,
      {{leaf,0},
       #{2 =>
          {node,
           {ty_tuple,2,[{node,3},{node,3}]},
           {node,
            {ty_tuple,2,[{node,3},{node,63}]},
            {node,
             {ty_tuple,2,[{node,3},{node,3}]},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {node,
                        {ty_tuple,2,[{node,82},{node,83}]},
                        {node,
                         {ty_tuple,2,[{node,85},{node,30}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,
                   {ty_tuple,2,[{node,16},{node,46}]},
                   {node,
                    {ty_tuple,2,[{node,66},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,68},{node,69}]},
                     {node,
                      {ty_tuple,2,[{node,71},{node,72}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,
                 {ty_tuple,2,[{node,14},{node,33}]},
                 {node,
                  {ty_tuple,2,[{node,16},{node,46}]},
                  {node,
                   {ty_tuple,2,[{node,66},{node,50}]},
                   {node,
                    {ty_tuple,2,[{node,68},{node,69}]},
                    {node,
                     {ty_tuple,2,[{node,71},{node,72}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,1}},
                 {leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,11},{node,42}]},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {node,
                      {ty_tuple,2,[{node,16},{node,46}]},
                      {node,
                       {ty_tuple,2,[{node,66},{node,50}]},
                       {node,
                        {ty_tuple,2,[{node,68},{node,69}]},
                        {node,
                         {ty_tuple,2,[{node,71},{node,72}]},
                         {node,
                          {ty_tuple,2,[{node,88},{node,89}]},
                          {leaf,0},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,0}},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {leaf,1},
                     {leaf,0}}},
                   {node,
                    {ty_tuple,2,[{node,11},{node,42}]},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {node,
                      {ty_tuple,2,[{node,16},{node,46}]},
                      {node,
                       {ty_tuple,2,[{node,66},{node,50}]},
                       {node,
                        {ty_tuple,2,[{node,68},{node,69}]},
                        {node,
                         {ty_tuple,2,[{node,71},{node,72}]},
                         {node,
                          {ty_tuple,2,[{node,82},{node,83}]},
                          {node,
                           {ty_tuple,2,[{node,85},{node,30}]},
                           {node,
                            {ty_tuple,2,[{node,88},{node,89}]},
                            {leaf,0},
                            {leaf,1}},
                           {leaf,1}},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,0}},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {leaf,1},
                     {leaf,0}}}},
                  {node,
                   {ty_tuple,2,[{node,11},{node,42}]},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,16},{node,46}]},
                     {node,
                      {ty_tuple,2,[{node,66},{node,50}]},
                      {node,
                       {ty_tuple,2,[{node,68},{node,69}]},
                       {node,
                        {ty_tuple,2,[{node,71},{node,72}]},
                        {node,
                         {ty_tuple,2,[{node,88},{node,89}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {leaf,1},
                    {leaf,0}}}},
                 {node,
                  {ty_tuple,2,[{node,11},{node,42}]},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {node,
                        {ty_tuple,2,[{node,88},{node,89}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {leaf,1},
                   {leaf,0}}}},
                {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,30}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,11},{node,42}]},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {node,
                      {ty_tuple,2,[{node,88},{node,89}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,0}},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {leaf,1},
                     {leaf,0}}},
                   {node,
                    {ty_tuple,2,[{node,11},{node,42}]},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {node,
                      {ty_tuple,2,[{node,82},{node,83}]},
                      {node,
                       {ty_tuple,2,[{node,85},{node,30}]},
                       {node,
                        {ty_tuple,2,[{node,88},{node,89}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,0}},
                    {node,
                     {ty_tuple,2,[{node,14},{node,33}]},
                     {leaf,1},
                     {leaf,0}}}},
                  {node,
                   {ty_tuple,2,[{node,11},{node,42}]},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,88},{node,89}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {leaf,1},
                    {leaf,0}}}},
                 {node,
                  {ty_tuple,2,[{node,11},{node,42}]},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {leaf,1},
                   {leaf,0}}}},
                {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}}},
            {node,
             {ty_tuple,2,[{node,3},{node,75}]},
             {node,
              {ty_tuple,2,[{node,3},{node,3}]},
              {node,
               {ty_tuple,2,[{node,3},{node,80}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,75}]},
                 {leaf,0},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,
                   {ty_tuple,2,[{node,82},{node,83}]},
                   {node,{ty_tuple,2,[{node,85},{node,30}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {leaf,0}},
               {leaf,0}},
              {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
             {node,
              {ty_tuple,2,[{node,3},{node,76}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,11},{node,42}]},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,88},{node,89}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {leaf,1},
                    {leaf,0}}},
                  {node,
                   {ty_tuple,2,[{node,11},{node,42}]},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,82},{node,83}]},
                     {node,
                      {ty_tuple,2,[{node,85},{node,30}]},
                      {node,
                       {ty_tuple,2,[{node,88},{node,89}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {leaf,1},
                    {leaf,0}}}},
                 {node,
                  {ty_tuple,2,[{node,11},{node,42}]},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {leaf,1},
                   {leaf,0}}}},
                {node,
                 {ty_tuple,2,[{node,11},{node,42}]},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,{ty_tuple,2,[{node,88},{node,89}]},{leaf,0},{leaf,1}},
                  {leaf,0}},
                 {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}}},
           {node,
            {ty_tuple,2,[{node,3},{node,63}]},
            {node,
             {ty_tuple,2,[{node,3},{node,3}]},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {node,
                        {ty_tuple,2,[{node,82},{node,83}]},
                        {node,
                         {ty_tuple,2,[{node,85},{node,30}]},
                         {leaf,0},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,
                   {ty_tuple,2,[{node,16},{node,46}]},
                   {node,
                    {ty_tuple,2,[{node,66},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,68},{node,69}]},
                     {node,
                      {ty_tuple,2,[{node,71},{node,72}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,
                 {ty_tuple,2,[{node,14},{node,33}]},
                 {node,
                  {ty_tuple,2,[{node,16},{node,46}]},
                  {node,
                   {ty_tuple,2,[{node,66},{node,50}]},
                   {node,
                    {ty_tuple,2,[{node,68},{node,69}]},
                    {node,
                     {ty_tuple,2,[{node,71},{node,72}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,1}},
                 {leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,16},{node,46}]},
                     {node,
                      {ty_tuple,2,[{node,66},{node,50}]},
                      {node,
                       {ty_tuple,2,[{node,68},{node,69}]},
                       {node,
                        {ty_tuple,2,[{node,71},{node,72}]},
                        {leaf,0},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,16},{node,46}]},
                     {node,
                      {ty_tuple,2,[{node,66},{node,50}]},
                      {node,
                       {ty_tuple,2,[{node,68},{node,69}]},
                       {node,
                        {ty_tuple,2,[{node,71},{node,72}]},
                        {node,
                         {ty_tuple,2,[{node,82},{node,83}]},
                         {node,
                          {ty_tuple,2,[{node,85},{node,30}]},
                          {leaf,0},
                          {leaf,1}},
                         {leaf,1}},
                        {leaf,1}},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,16},{node,46}]},
                    {node,
                     {ty_tuple,2,[{node,66},{node,50}]},
                     {node,
                      {ty_tuple,2,[{node,68},{node,69}]},
                      {node,
                       {ty_tuple,2,[{node,71},{node,72}]},
                       {leaf,0},
                       {leaf,1}},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,
                   {ty_tuple,2,[{node,16},{node,46}]},
                   {node,
                    {ty_tuple,2,[{node,66},{node,50}]},
                    {node,
                     {ty_tuple,2,[{node,68},{node,69}]},
                     {node,
                      {ty_tuple,2,[{node,71},{node,72}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}},
             {node,
              {ty_tuple,2,[{node,3},{node,75}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,30}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,3},{node,76}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,80}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,3}]},
                  {node,
                   {ty_tuple,2,[{node,3},{node,75}]},
                   {leaf,0},
                   {node,
                    {ty_tuple,2,[{node,14},{node,33}]},
                    {node,
                     {ty_tuple,2,[{node,82},{node,83}]},
                     {node,
                      {ty_tuple,2,[{node,85},{node,30}]},
                      {leaf,0},
                      {leaf,1}},
                     {leaf,1}},
                    {leaf,0}}},
                  {leaf,0}},
                 {leaf,0}},
                {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}}}},
            {node,
             {ty_tuple,2,[{node,3},{node,75}]},
             {node,
              {ty_tuple,2,[{node,3},{node,3}]},
              {node,
               {ty_tuple,2,[{node,3},{node,80}]},
               {node,
                {ty_tuple,2,[{node,3},{node,3}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,75}]},
                 {leaf,0},
                 {node,
                  {ty_tuple,2,[{node,14},{node,33}]},
                  {node,
                   {ty_tuple,2,[{node,82},{node,83}]},
                   {node,{ty_tuple,2,[{node,85},{node,30}]},{leaf,0},{leaf,1}},
                   {leaf,1}},
                  {leaf,0}}},
                {leaf,0}},
               {leaf,0}},
              {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
             {node,
              {ty_tuple,2,[{node,3},{node,76}]},
              {node,
               {ty_tuple,2,[{node,3},{node,3}]},
               {node,
                {ty_tuple,2,[{node,3},{node,80}]},
                {node,
                 {ty_tuple,2,[{node,3},{node,3}]},
                 {node,
                  {ty_tuple,2,[{node,3},{node,75}]},
                  {leaf,0},
                  {node,
                   {ty_tuple,2,[{node,14},{node,33}]},
                   {node,
                    {ty_tuple,2,[{node,82},{node,83}]},
                    {node,
                     {ty_tuple,2,[{node,85},{node,30}]},
                     {leaf,0},
                     {leaf,1}},
                    {leaf,1}},
                   {leaf,0}}},
                 {leaf,0}},
                {leaf,0}},
               {node,{ty_tuple,2,[{node,14},{node,33}]},{leaf,1},{leaf,0}}},
              {node,
               {ty_tuple,2,[{node,14},{node,33}]},
               {leaf,1},
               {leaf,0}}}}}}}},
      {{leaf,0},#{}},
      {leaf,0}}}
  }
}.
