[
    {
        {intersection,[
            {var,'$0'},
            {tuple,[
                {singleton, fill},
                {tuple,[{predef,any},{predef,any}]}
            ]}
            ]}, 
        {tuple,[
            {singleton, fill},
            {var,'$6'}
        ]}
    },
    {
        {singleton,ok}, 
        {var,'$10'}
    },
    {
        {var,'$0'}, 
        {intersection,[
            {tuple,[
                {singleton, fill},
                {tuple,[{predef,any},{predef,any}]}
            ]}
                    ]}
    },
    {
        {intersection,[{var,'$0'},
                {tuple,[
                    {singleton, fill},
                    {tuple,[{predef,any},{predef,any}]}
                ]}
            ]}, 
        {tuple,[{var,'$3'}]}
    },
    {
        {var,'$10'}, 
        {singleton,ok}
    },
    {
        {intersection,[
            {var,'$0'},
                {tuple,[
                    {singleton, fill},
                    {tuple,[{predef,any},{predef,any}]}
                ]}
            ]}, 
                {tuple,[
                    {singleton, fill},
                    {var,'$2'}
                ]}
    },
    {
        {var,'$3'}, 
        {tuple,[{var,'$4'},{var,'$5'}]}
    },
    {
        {tuple,[{singleton, fill}, {var,'$1'}]}, 
        {var,'$0'}
    },
    {
        {intersection,[
            {var,'Date'},
            {tuple,[
                {singleton, fill},
                {predef_alias,non_neg_integer}
            ]}
        ]}, 
        {var, '$1'}
    },
    {
        {var,'$7'}, 
        {tuple,[{var,'$8'},{var,'$9'}]}
    },
    {
        {intersection,[
            {var,'$0'},
                {tuple,[
                {singleton, fill},
                    {tuple,[{predef,any},{predef,any}]}
                ]}
        ]}, 
                {tuple,[{singleton, fill}, {var,'$7'}]}
    }].