[
  {{named,{loc,"src/ast_neg.erl",7,19},{ty_ref,ast_neg,ty,0},[]}, {var,'$10'}},
  {{tuple,[{var,'$10'}]}, {negation,
                            {intersection,
                                [{tuple,[{tuple,[{predef,any}]}]},
                                 {tuple,[{predef,any}]}]}}},

  {{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$2'}]}},
  {{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$3'}]}},
  {{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$5'}]}},
  {{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$6'}]}},
  {{tuple,[{var,'$1'}]}, {var,'$0'}},
  {{var,'$0'}, {intersection,[{tuple,[{tuple,[{predef,any}]}]},
                            {tuple,[{predef,any}]}]}},
  {{var,'$3'}, {tuple,[{var,'$4'}]}},
  {{var,'$6'}, {tuple,[{var,'$7'}]}},
  {{named,{loc,"src/ast_neg.erl",7,19},{ty_ref,ast_neg,ty,0},[]}, {var,'$1'}},
  {{tuple,[{var,'$9'}]}, {var,'$8'}},
  {{var,'$8'}, {named,{loc,"src/ast_neg.erl",7,28},{ty_ref,ast_neg,ty,0},[]}},
  {{singleton,foo}, {var,'$9'}}
].
