[
    {{fun_full,[{var,aa},{var,aa}],{predef_alias,boolean}}, {fun_full, [{var,'$50'}, {var,'$51'}], {var,'$52'}}},
    {{fun_full,[{var,aa},{var,aa}],{predef_alias,boolean}}, {fun_full, [{var,'$24'}, {var,'$25'}], {var,'$26'}}}, 

    { {var,'$14'}, {var,'$24'} },
    { {intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$11'}, {var,'$12'}]} }, 
    {{union,[{var,'$31'},{empty_list}]}, {var,'$33'}},
    {{var,'$34'}, {list,{var,'$35'}}},
    {{var,'$13'}, {list,{var,'$14'}}},
    {{union,[{var,'$65'},{empty_list}]}, {var,'$67'}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$3'}, {var,'$4'}]}},
    {{union,[{var,'$8'},{empty_list}]}, {var,'$10'}},
    {{union,[{var,'$16'},{empty_list}]}, {var,'$18'}},
    {{var,'$5'}, {list,{var,'$6'}}},
    {{tuple,[{var,'$2'},{var,'$1'}]}, {var,'$0'}},
    {{var,'$8'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",135, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$22'}]}},
    {{named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",135,18}, {ty_ref,ordsets2,ordset,1}, [{var,'T2'}]}, {var,'$1'}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$65'}, {var,'$68'}]}},
    {{named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",134,18}, {ty_ref,ordsets2,ordset,1}, [{var,'T1'}]}, {var,'$2'}},
    {{var,'$81'}, {var,'$86'}},
    {{union,[{var,'$57'},{empty_list}]}, {var,'$59'}},
    {{intersection, [{var,'$0'}, {negation, {union, [{intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}]}}, {tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$93'},{var,'$94'}]}},
    {{var,'$36'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",134, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$49'}]}},
    {{var,'$0'}, {union, [{intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{predef,any}]}]}]}},
    {{union,[{var,'$68'},{empty_list}]}, {var,'$70'}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$5'}, {var,'$8'}]}},
    {{nonempty_list,{union,[{var,'$20'},{var,'$21'}]}}, {var,'$19'}},
    {{var,'$39'}, {list,{var,'$40'}}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}}, {tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$84'},{var,'$85'}]}},
    {{intersection, [{var,'$0'}, {negation, {union, [{intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}]}}, {tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$91'},{var,'$92'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$63'}, {var,'$64'}]}},
    {{var,'$17'}, {var,'$25'}},
    {{var,'$26'}, {predef_alias,boolean}},
    {{var,'$16'}, {list,{var,'$17'}}},
    {{nonempty_list,{union,[{var,'$72'},{var,'$73'}]}}, {var,'$71'}},
    {{var,'$59'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",134, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$75'}]}},
    {{var,'$43'}, {var,'$51'}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$57'}, {var,'$60'}]}},
    {{named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136,18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'$23'},{var,'$22'}]}]}, {list,{var,'$21'}}},
    {{var,'$45'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136, 18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'T1'},{var,'T2'}]}]}},
    {{var,'$57'}, {list,{var,'$58'}}},
    {{var,'$60'}, {list,{var,'$61'}}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$31'}, {var,'$34'}]}},
    {{var,'$42'}, {list,{var,'$43'}}},
    {{var,'$71'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136, 18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'T1'},{var,'T2'}]}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$29'}, {var,'$30'}]}},
    {{var,'$91'}, {var,'$97'}},
    {{var,'$58'}, {var,'$72'}},
    {{nonempty_list,{union,[{var,'$46'},{var,'$47'}]}}, {var,'$45'}},
    {{named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136,18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'$75'},{var,'$74'}]}]}, {list,{var,'$73'}}},
    {{var,'$35'}, {var,'$46'}},
    {{var,'$68'}, {list,{var,'$69'}}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$39'}, {var,'$42'}]}},
    {{var,'$86'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136, 18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'T1'},{var,'T2'}]}]}},
    {{union,[{var,'$60'},{empty_list}]}, {var,'$62'}},
    {{var,'$97'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136, 18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'T1'},{var,'T2'}]}]}},
    {{var,'$31'}, {list,{var,'$32'}}},
    {{union,[{var,'$42'},{empty_list}]}, {var,'$44'}},
    {{var,'$19'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136, 18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'T1'},{var,'T2'}]}]}}, 
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$37'}, {var,'$38'}]}},
    {{union,[{var,'$5'},{empty_list}]}, {var,'$7'}},
    {{intersection, [{var,'$0'}, {negation, {union, [{intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}]}}, {tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$95'},{var,'$96'}]}},
    {{union,[{var,'$39'},{empty_list}]}, {var,'$41'}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}}, {tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$78'},{var,'$79'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$13'}, {var,'$16'}]}},
    {{named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",136,18}, {ty_ref,ordsets2,ordset,1}, [{union,[{var,'$49'},{var,'$48'}]}]}, {list,{var,'$47'}}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}}, {tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$82'},{var,'$83'}]}},
    {{var,'$6'}, {var,'$20'}},
    {{var,'$65'}, {list,{var,'$66'}}},
    {{var,'$40'}, {var,'$50'}},
    {{var,'$31'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",135, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$48'}]}},
    {{union,[{var,'$13'},{empty_list}]}, {var,'$15'}},
    {{var,'$62'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",135, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$74'}]}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}}, {tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$80'},{var,'$81'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef_alias,nonempty_list}, {predef_alias,nonempty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple, [{var,'$55'}, {var,'$56'}]}},
    {{union,[{var,'$34'},{empty_list}]}, {var,'$36'}},
    {{var,'$52'}, {predef_alias,boolean}},
    {{var,'$7'}, {named,{loc,"test_files/etylizer-mini/stdlib/ordsets2.erl",134, 18}, {ty_ref,ordsets2,ordset,1}, [{var,'$23'}]}},
    {{var,'$8'}, {list,{var,'$9'}}},
    {{intersection, [{var,'$0'}, {negation, {union, [{intersection, [{tuple, [{nonempty_list,{predef,any}}, {nonempty_list,{predef,any}}]}, {tuple,[{predef,any},{predef,any}]}]}, {intersection, [{tuple,[{empty_list},{predef,any}]}, {tuple,[{predef,any},{predef,any}]}]}]}}, {tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{predef,any}]}]}, {tuple,[{var,'$89'},{var,'$90'}]}}
].
