{erl_opts, [debug_info]}.
{deps, [
  {getopt, "1.0.2"}
]}.

{project_plugins, [rebar3_proper]}.

{dialyzer, [
    {warnings, []}
]}.

{escript_name, ety}.
{escript_emu_args, "%%! -escript main ety_main -pz ety/ety/ebin\n"}.

{profiles,
  [{test, [
    {deps, [{proper, "1.4.0"}, coveralls]},
    {extra_src_dirs, [{"test", [{recursive, true}]}]}
  ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
