{deps, [
  {getopt, "1.0.2"}
]}.

{project_plugins, [rebar3_proper]}.

{xref, [
  {ignore, [
      {etylizer_main, exports_not_used}
  ]}
]}.

{xref_checks,
  [unused_functions, undefined_function_calls, deprecated_function_calls]}.
%To check for deadcode, it is useful to add 'exports_not_used'

{dialyzer, [
  {warnings, []},
  {plt_extra_apps, [eunit, syntax_tools, compiler]}
]}.

{escript_name, etylizer}.
{escript_emu_args, "%%! -escript main etylizer_main -pz etylizer/etylizer/ebin\n"}.

{erl_opts, [{i, "src"}, debug_info]}.

{profiles,[
  {test, [
    %{erl_opts, [{d, debug}, debug_info]},
    {deps, [{proper, "1.5.0"}, coveralls]},
    {extra_src_dirs, [{"test", [{recursive, true}]}]}
  ]},
  {default, [
    % {erl_opts, [{d, debug}, debug_info]},
    {extra_src_dirs, [{"test", [{recursive, true}]}]}
  ]},
  {prod, [
    {erl_opts, [no_debug_info]}
  ]}
]}.

{cover_enabled, false}.
{cover_export_enabled, false}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
