 [
    {{singleton,1}, {var,'$1'}},
    {{singleton,2}, {var,'$2'}},
    {{singleton,3}, {var,'$7'}},
    {{singleton,4}, {var,'$11'}},

    {{var,'$8'}, {var, '$88'}},
    {{var,'$3'}, {var, '$33'}},

    {{var,'$12'}, {predef,integer}},


    {{intersection,[
        {fun_full,[{tuple, [{predef,integer},{predef,integer}]}], {predef,integer}},
        {fun_full,[{tuple, [{predef,integer},{predef,float}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,integer}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,float}]}],{predef,float}}
    ]}, 
     {fun_full, [{tuple, [{var, '$1'}, {var, '$2'}]}], {var, '$3'}}},


    {{intersection,[
        {fun_full,[{tuple, [{predef,integer},{predef,integer}]}], {predef,integer}},
        {fun_full,[{tuple, [{predef,integer},{predef,float}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,integer}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,float}]}],{predef,float}}
    ]}, 
     {fun_full, [{tuple, [{var, '$33'}, {var, '$7'}]}], {var, '$8'}}},
     
    {{intersection,[
        {fun_full,[{tuple, [{predef,integer},{predef,integer}]}], {predef,integer}},
        {fun_full,[{tuple, [{predef,integer},{predef,float}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,integer}]}],{predef,float}},
        {fun_full,[{tuple, [{predef,float},{predef,float}]}],{predef,float}}
    ]},
     {fun_full, [{tuple, [{var, '$88'}, {var, '$11'}]}], {var, '$12'}}}


].

