% issue
%-type user_t_07(X) :: nil | {X, user_t_07(X)}.
%[
% {$0 /\ {nil} /\ {any()}, {$5}},
% {$0 /\ {nil} /\ {any()}, {$4}},
% {$6, integer()},
% {$0 /\ {nil} /\ {any()}, {$3}},
% {$0 /\ {nil} /\ {any()}, {$2}},
% {$0 /\ not({nil} /\ {any()}) /\ {{foo, any()}} /\ {any()}, {$9}},
% {{$1}, $0},
% {$0 /\ not({nil} /\ {any()}) /\ {{foo, any()}} /\ {any()}, {$8}},
% {user_t_07(foo), $1},
% {$18, $16},
% {fun((user_t_07(foo)) -> integer()), fun(($17) -> $18)},
% {$16, integer()},
% {$0, {nil} /\ {any()} | {{foo, any()}} /\ {any()}},
% {$9, {$10, $11}},
% {$0 /\ not({nil} /\ {any()}) /\ {{foo, any()}} /\ {any()}, {$13}},
% {$11, $17},
% {$0 /\ not({nil} /\ {any()}) /\ {{foo, any()}} /\ {any()}, {$12}},
% {$13, {$14, $15}},
% {1, $6}
%]
[
    {
        {intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, 
        {tuple, [{var, '$5'}]}
    },
    {
        {intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, 
        {tuple, [{var, '$4'}]}
    },
    {
        {var,'$6'}, 
        {predef,integer}
    },
    {
        {intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, 
        {tuple, [{var, '$3'}]}
    },
    {
        {intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, 
        {tuple, [{var, '$2'}]}
    },
    {
        {intersection, [{var,'$0'}, {negation, {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}}, {tuple,[{tuple,[{singleton,foo},{predef,any}]}]}, {tuple,[{predef,any}]}]}, 
        {tuple,[{var,'$9'}]}
    },
    {
        {tuple,[{var,'$1'}]}, 
        {var,'$0'}
    },
    {
        {intersection, [{var,'$0'}, {negation, {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}}, {tuple,[{tuple,[{singleton,foo},{predef,any}]}]}, {tuple,[{predef,any}]}]},
        {tuple,[{var,'$8'}]}
    },
    {
        %{named,{loc,"test_files/tycheck_simple.erl",864,15}, {ref,user_t_07,1}, [{singleton,foo}]}
        {mu, {mu_var, x}, {union, [{singleton, nil}, {tuple, [{singleton, foo}, {mu_var, x}]}]}}, 
        {var,'$1'}
    },
    {
        {var,'$18'}, 
        {var,'$16'}
    },
    {
        %{named,{loc,"test_files/tycheck_simple.erl",864,15}, {ref,user_t_07,1}, [{singleton,foo}]}
        {fun_full,[ {mu, {mu_var, x}, {union, [{singleton, nil}, {tuple, [{singleton, foo}, {mu_var, x}]}]}} ], {predef,integer}}, 
        {fun_full,[{var,'$17'}],{var,'$18'}}
    },
    {
        {var,'$16'}, 
        {predef,integer}
    },
    {
        {var,'$0'}, 
        {union, [{intersection, [{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, {intersection, [{tuple,[{tuple,[{singleton,foo},{predef,any}]}]}, {tuple,[{predef,any}]}]}]}
    },
    {{var,'$9'}, {tuple,[{var,'$10'},{var,'$11'}]}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$13'}]}},{{var,'$11'}, {var,'$17'}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$12'}]}},{{var,'$13'}, {tuple,[{var,'$14'},{var,'$15'}]}},{{singleton,1}, {var,'$6'}}
].

