 % remove sandwich variables 1.6s
 [
    
    {{singleton,1}, {var,'$1'}},
    {{singleton,2}, {var,'$2'}},
    {{intersection,[
        {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
        {fun_full,[{predef,integer},{predef,float}],{predef,float}},
        {fun_full,[{predef,float},{predef,integer}],{predef,float}},
        {fun_full,[{predef,float},{predef,float}],{predef,float}}
    ]}, 
     {fun_full, [{var, '$1'}, {var, '$2'}], {var, '$3'}}},

    {{var,'$3'}, {var, '$33'}},

    {{singleton,3}, {var,'$7'}},
    {{intersection,[
        {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
        {fun_full,[{predef,integer},{predef,float}],{predef,float}},
        {fun_full,[{predef,float},{predef,integer}],{predef,float}},
        {fun_full,[{predef,float},{predef,float}],{predef,float}}
    ]}, 
     {fun_full, [{var, '$33'}, {var, '$7'}], {var, '$8'}}},
     
    {{var,'$8'}, {var, '$88'}},

    {{singleton,4}, {var,'$11'}},
    {{intersection,[
        {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
        {fun_full,[{predef,integer},{predef,float}],{predef,float}},
        {fun_full,[{predef,float},{predef,integer}],{predef,float}},
        {fun_full,[{predef,float},{predef,float}],{predef,float}}
    ]},
     {fun_full, [{var, '$88'}, {var, '$11'}], {var, '$12'}}},

    {{var,'$12'}, {predef,integer}}

].

% 1.8 s
% [
%     {{var,'$3'}, {var,'$0'}},
%     {{var,'$0'}, {predef,any}},
%     {{singleton,1}, {var,'$1'}},
%     {{singleton,2}, {var,'$2'}},
%     {{var,'$4'}, {predef,integer}},
%     {{var,'$5'}, {predef,any}},
%     {{var,'$0'}, {var,'$6'}},
%     {{var,'$8'}, {var,'$5'}},
%     {{singleton,3}, {var,'$7'}},
%     {{var,'$5'}, {var,'$10'}},
%     {{var,'$12'}, {var,'$9'}},
%     {{var,'$9'}, {var,'$4'}},
%     {{singleton,4}, {var,'$11'}},
    
    
    
%     {{intersection,[
%         {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
%         {fun_full,[{predef,integer},{predef,float}],{predef,float}},
%         {fun_full,[{predef,float},{predef,integer}],{predef,float}},
%         {fun_full,[{predef,float},{predef,float}],{predef,float}}
%     ]}, 
%      {fun_full, [{var, '$1'}, {var, '$2'}], {var, '$3'}}},


%     {{intersection,[
%         {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
%         {fun_full,[{predef,integer},{predef,float}],{predef,float}},
%         {fun_full,[{predef,float},{predef,integer}],{predef,float}},
%         {fun_full,[{predef,float},{predef,float}],{predef,float}}
%     ]}, 
%      {fun_full, [{var, '$6'}, {var, '$7'}], {var, '$8'}}},


%     {{intersection,[
%         {fun_full,[{predef,integer},{predef,integer}], {predef,integer}},
%         {fun_full,[{predef,integer},{predef,float}],{predef,float}},
%         {fun_full,[{predef,float},{predef,integer}],{predef,float}},
%         {fun_full,[{predef,float},{predef,float}],{predef,float}}
%     ]},
%      {fun_full, [{var, '$10'}, {var, '$11'}], {var, '$12'}}}

% ].