[
    {{fun_full,[{var,'T'}],{predef_alias,boolean}}, {var,'$2'}},
    {{var,'$16'}, {fun_full,[{var,'$28'}],{var,'$29'}}},
    {{var,'$16'}, {fun_full,[{var,'$46'}],{var,'$47'}}},
    {{var,'$16'}, {fun_full,[{var,'$36'}],{var,'$37'}}},
    {{var,'$16'}, {fun_full,[{var,'$60'}],{var,'$61'}}},

    {{tuple,[{var,'$2'},{var,'$1'}]}, {var,'$0'}},

    {{list,{var,'T'}}, {var,'$1'}},
    
    {{var,'$0'}, {union, [{tuple,[{predef,any},{empty_list}]}, {tuple,[{predef,any},{nonempty_list,{predef,any}}]}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef,any},{empty_list}]}]}, {tuple, [{var,'$7'}, {var,'$8'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef,any},{empty_list}]}]}, {tuple, [{var,'$3'}, {var,'$4'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef,any},{empty_list}]}]}, {tuple, [{var,'$5'}, {var,'$6'}]}},
    {{intersection,[{var,'$0'}, {tuple,[{predef,any},{empty_list}]}]}, {tuple, [{var,'$9'}, {var,'$10'}]}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple,[{predef,any},{empty_list}]}]}}, {tuple,[{predef,any},{predef_alias,nonempty_list}]}]}, {tuple,[{var,'$14'},{var,'$15'}]}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple,[{predef,any},{empty_list}]}]}}, {tuple,[{predef,any},{predef_alias,nonempty_list}]}]}, {tuple,[{var,'$16'},{var,'$17'}]}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple,[{predef,any},{empty_list}]}]}}, {tuple,[{predef,any},{predef_alias,nonempty_list}]}]}, {tuple,[{var,'$22'},{var,'$23'}]}},
    {{intersection, [{var,'$0'}, {negation, {intersection, [{tuple,[{predef,any},{empty_list}]}]}}, {tuple,[{predef,any},{predef_alias,nonempty_list}]}]}, {tuple,[{var,'$20'},{var,'$21'}]}},


    {{intersection,[{var,'$27'}, {negation,{union,[{singleton,false},{singleton,true}]}}, {tuple,[{singleton,true},{predef,any}]}]}, {tuple, [{var,'$48'}, {var,'$49'}]}},
    {{intersection,[{var,'$27'}, {negation,{union,[{singleton,false},{singleton,true}]}}, {tuple,[{singleton,true},{predef,any}]}]}, {tuple, [{var,'$50'}, {var,'$51'}]}},
    {{var,'$61'}, {union,[{negation,{tuple,[{singleton,true},{predef,any}]}}, {singleton,false}, {singleton,true}]}},
    {{var,'$29'}, {var,'$27'}},
    {{var,'$27'}, {union,[{singleton,false}, {singleton,true}, {tuple,[{singleton,true},{predef,any}]}]}},
    {{union,[{var,'$23'},{empty_list}]}, {var,'$25'}},
    {{var,'$23'}, {list,{var,'$24'}}},
    {{var,'$18'}, {var,'$60'}},
    {{var,'$18'}, {var,'$46'}},
    {{var,'$37'}, {negation,{singleton,false}}},
    {{var,'$18'}, {var,'$28'}},
    {{union,[{var,'$17'},{empty_list}]}, {var,'$19'}},
    {{var,'$47'}, {union,[{negation,{singleton,true}},{singleton,false}]}},
    {{var,'$17'}, {list,{var,'$18'}}},
    {{var,'$18'}, {var,'$36'}}
].