[

    {{fun_full,[{var,'T'}],{predef_alias,boolean}}, {var,'$2'}},
    {{list,{var,'T'}}, {var,'$1'}},

    {{tuple,[{var,'$2'},{var,'$1'}]}, {var,'$0'}},
    { 
      {var,'$0'},
      {union, [
        {intersection, [
          {tuple,[{predef,any},{empty_list}]},
          {tuple,[{predef,any},{predef,any}]}
        ]},
        {intersection, [
          {tuple,[{var,'$16'},{var,'$17'}]},
          {tuple,[{predef,any},{var,'$23'}]},
          {tuple,[{predef,any},{predef_alias,nonempty_list}]},
          {tuple,[{predef,any},{predef,any}]}
        ]}
      ]}
    },

    {{var,'$16'}, 
      {intersection, [
        {fun_full,[{var,'$28'}],{var,'$29'}},
        {fun_full,[{var,'$46'}],{var,'$47'}},
        {fun_full,[{var,'$36'}],{var,'$37'}},
        {fun_full,[{var,'$60'}],{var,'$61'}}
        ]}
    },

    
    {{var,'$17'}, {intersection, [{list,{var,'$18'}}, {var, '$19'}]}},
    {{intersection, [{negation, {var, '$19'}}, {empty_list}]}, {var,'$17'}},

    {{var,'$18'}, {intersection, [ {var,'$28'}, {var,'$46'}, {var,'$60'}, {var,'$36'} ]} },



    {{intersection,[{negation, {var,'$25'}}, {empty_list}]}, {var,'$23'}},
    {{var,'$23'}, {intersection, [{var, '$25'}, {list,{var,'$24'}}]}},

    {{var,'$29'}, {var,'$27'}},
    {{var,'$27'}, {union,[{singleton,false}, {singleton,true}, {tuple,[{singleton,true},{predef,any}]}]}},

    {{var,'$37'}, {negation,{singleton,false}}},
    {{var,'$47'}, {negation,{singleton,true}}},
    {{var,'$61'}, {negation,{tuple,[{singleton,true},{predef,any}]}}}
].