[{{var,'Date'}, {var,'$1'}},{{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$6'}]}},{{tuple,[{var,'$1'}]}, {var,'$0'}},{{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$5'}]}},{{intersection,[{var,'$0'},
                {tuple,[{tuple,[{predef,any}]}]},
                {tuple,[{predef,any}]}]}, {tuple,[{var,'$3'}]}},{{var,'$3'}, {tuple,[{var,'$4'}]}}].