[
    {
        {intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, 
        {tuple, [{var, '$5'}]}
    },

    {{intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, {tuple,
                                                                                [{var,
                                                                                  '$4'}]}},{{var,'$6'}, {predef,integer}},{{intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, {tuple,
                                                                                [{var,
                                                                                  '$3'}]}},{{intersection,[{var,'$0'},{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}, {tuple,
                                                                                [{var,
                                                                                  '$2'}]}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$9'}]}},{{tuple,[{var,'$1'}]}, {var,'$0'}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$8'}]}},{
        
        %{named,{loc,"test_files/tycheck_simple.erl",864,15}, {ref,user_t_07,1}, [{singleton,foo}]}
        {mu, {var, x}, {union, [{singleton, nil}, {tuple, [{singleton, foo}, {var, x}]}]}}

    , 
    {var,'$1'}},{{var,'$18'}, {var,'$16'}},{{fun_full,[
        
        %{named,{loc,"test_files/tycheck_simple.erl",864,15}, {ref,user_t_07,1}, [{singleton,foo}]}
        {mu, {var, x}, {union, [{singleton, nil}, {tuple, [{singleton, foo}, {var, x}]}]}}
                
                ],
           {predef,integer}}, {fun_full,[{var,'$17'}],{var,'$18'}}},{{var,'$16'}, {predef,integer}},{{var,'$0'}, {union,
                 [{intersection,
                      [{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]},
                  {intersection,
                      [{tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
                       {tuple,[{predef,any}]}]}]}},{{var,'$9'}, {tuple,[{var,'$10'},{var,'$11'}]}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$13'}]}},{{var,'$11'}, {var,'$17'}},{{intersection,
     [{var,'$0'},
      {negation,
          {intersection,[{tuple,[{singleton,nil}]},{tuple,[{predef,any}]}]}},
      {tuple,[{tuple,[{singleton,foo},{predef,any}]}]},
      {tuple,[{predef,any}]}]}, {tuple,[{var,'$12'}]}},{{var,'$13'}, {tuple,[{var,'$14'},{var,'$15'}]}},{{singleton,1}, {var,'$6'}}].