[{{node,1},{node,2}},
 {{node,3},{node,4}},
 {{node,5},{node,6}},
 {{node,1},{node,7}},
 {{node,8},{node,9}},
 {{node,9},{node,10}},
 {{node,11},{node,5}},
 {{node,12},{node,11}},
 {{node,13},{node,14}},
 {{node,10},{node,6}},
 {{node,15},{node,16}},
 {{node,17},{node,20}},
 {{node,21},{node,26}},
 {{node,27},{node,28}},
 {{node,32},{node,33}},
 {{node,37},{node,38}},
 {{node,27},{node,21}},
 {{node,32},{node,21}},
 {{node,42},{node,43}},
 {{node,47},{node,50}},
 {{node,52},{node,55}},
 {{node,57},{node,60}},
 {{node,61},{node,66}},
 {{node,61},{node,67}},
 {{node,61},{node,68}},
 {{node,61},{node,71}},
 {{node,74},{node,75}},
 {{node,74},{node,76}},
 {{node,74},{node,79}},
 {{node,74},{node,82}},
 {{node,8},{node,85}},
 {{node,12},{node,85}},
 {{node,93},{node,49}},
 {{node,53},{node,97}},
 {{node,12},{node,101}},
 {{node,105},{node,19}},
 {{node,105},{node,18}},
 {{node,97},{node,54}},
 {{node,48},{node,93}},
 {{node,8},{node,109}},
 {{node,6},{node,105}},
 {{node,26},{node,105}}].
[#{{node,54} => {node,{var,name,'$52'},{leaf,any},{leaf,empty}}},
 #{{node,18} => {node,{var,name,'$2'},{leaf,any},{leaf,empty}}},
 #{{node,79} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,80},{node,81}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,80} => {node,{var,name,'$24'},{leaf,any},{leaf,empty}},
   {node,81} => {node,{var,name,'$25'},{leaf,any},{leaf,empty}}},
 #{{node,12} => {node,{var,name,'$27'},{leaf,any},{leaf,empty}}},
 #{{node,3} => {node,{var,name,'$50'},{leaf,any},{leaf,empty}}},
 #{{node,19} => {node,{var,name,'$1'},{leaf,any},{leaf,empty}}},
 #{{node,13} => {node,{var,name,'$36'},{leaf,any},{leaf,empty}}},
 #{{node,26} => {node,{var,name,'$19'},{leaf,any},{leaf,empty}}},
 #{{node,4} => {node,{var,name,'$53'},{leaf,any},{leaf,empty}}},
 #{{node,27} => {node,{var,name,'$8'},{leaf,any},{leaf,empty}}},
 #{{node,7} => {node,{var,name,'$35'},{leaf,any},{leaf,empty}}},
 #{{node,11} => {node,{var,name,'$38'},{leaf,any},{leaf,empty}},
   {node,50} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,51},{node,11}],{node,11}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}},
   {node,51} => {node,{var,name,'$39'},{leaf,any},{leaf,empty}}},
 #{{node,57} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,58},{node,58}],{node,59}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}},
   {node,58} => {node,{var,name,aa},{leaf,any},{leaf,empty}},
   {node,59} =>
       {leaf,
           {ty,<<0:5>>,
               {{2,{false,nil,{true,nil,nil}}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,8} => {node,{var,name,'$26'},{leaf,any},{leaf,empty}},
   {node,12} => {node,{var,name,'$27'},{leaf,any},{leaf,empty}},
   {node,75} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,8},{node,12}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,9} => {node,{var,name,'$48'},{leaf,any},{leaf,empty}},
   {node,55} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,56},{node,9}],{node,9}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}},
   {node,56} => {node,{var,name,'$49'},{leaf,any},{leaf,empty}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,61} =>
       {node,
           {var,name,'$0'},
           {leaf,
               {ty,<<0:5>>,
                   {{0,nil},finite},
                   [],
                   {leaf,0},
                   0,
                   {{leaf,0},
                    #{2 =>
                          {node,
                              {ty_tuple,2,[{node,62},{node,62}]},
                              {node,
                                  {ty_tuple,2,[{node,63},{node,63}]},
                                  {leaf,1},
                                  {leaf,0}},
                              {leaf,0}}}},
                   {{leaf,0},#{}},
                   {leaf,0}}},
           {leaf,empty}},
   {node,62} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,64},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,63} => {leaf,any},
   {node,64} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,63},{node,63}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,53} => {node,{var,name,'$51'},{leaf,any},{leaf,empty}}},
 #{{node,37} => {node,{var,name,'$13'},{leaf,any},{leaf,empty}}},
 #{{node,10} => {node,{var,name,'$47'},{leaf,any},{leaf,empty}}},
 #{{node,17} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,18},{node,19}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,18} => {node,{var,name,'$2'},{leaf,any},{leaf,empty}},
   {node,19} => {node,{var,name,'$1'},{leaf,any},{leaf,empty}}},
 #{{node,42} => {node,{var,name,'$16'},{leaf,any},{leaf,empty}}},
 #{{node,76} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,77},{node,78}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,77} => {node,{var,name,'$30'},{leaf,any},{leaf,empty}},
   {node,78} => {node,{var,name,'$31'},{leaf,any},{leaf,empty}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,4} => {node,{var,name,'$53'},{leaf,any},{leaf,empty}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,97} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,99},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,99} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,4},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,16} => {node,{var,name,'$43'},{leaf,any},{leaf,empty}}},
 #{{node,9} => {node,{var,name,'$48'},{leaf,any},{leaf,empty}}},
 #{{node,15} => {node,{var,name,'$40'},{leaf,any},{leaf,empty}},
   {node,47} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,15},{node,48}],{node,49}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}},
   {node,48} => {node,{var,name,'$41'},{leaf,any},{leaf,empty}},
   {node,49} => {node,{var,name,'$42'},{leaf,any},{leaf,empty}}},
 #{{node,82} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,83},{node,84}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,83} => {node,{var,name,'$28'},{leaf,any},{leaf,empty}},
   {node,84} => {node,{var,name,'$29'},{leaf,any},{leaf,empty}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,63} => {leaf,any},
   {node,85} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,91},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,91} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,63},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,2} => {node,{var,name,'$34'},{leaf,any},{leaf,empty}},
   {node,7} => {node,{var,name,'$35'},{leaf,any},{leaf,empty}},
   {node,13} => {node,{var,name,'$36'},{leaf,any},{leaf,empty}},
   {node,60} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,2},{node,7}],{node,13}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,38} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,39},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,39} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,40},{node,41}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,40} => {node,{var,name,'$14'},{leaf,any},{leaf,empty}},
   {node,41} => {node,{var,name,'$15'},{leaf,any},{leaf,empty}}},
 #{{node,3} => {node,{var,name,'$50'},{leaf,any},{leaf,empty}},
   {node,52} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_function,[{node,3},{node,53}],{node,54}},
                          {leaf,1},
                          {leaf,0}}}},
               {leaf,0}}},
   {node,53} => {node,{var,name,'$51'},{leaf,any},{leaf,empty}},
   {node,54} => {node,{var,name,'$52'},{leaf,any},{leaf,empty}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,16} => {node,{var,name,'$43'},{leaf,any},{leaf,empty}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,93} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,95},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,95} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,16},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,33} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,34},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,34} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,35},{node,36}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,35} => {node,{var,name,'$6'},{leaf,any},{leaf,empty}},
   {node,36} => {node,{var,name,'$7'},{leaf,any},{leaf,empty}}},
 #{{node,2} => {node,{var,name,'$34'},{leaf,any},{leaf,empty}}},
 #{{node,32} => {node,{var,name,'$5'},{leaf,any},{leaf,empty}}},
 #{{node,11} => {node,{var,name,'$38'},{leaf,any},{leaf,empty}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,43} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,44},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,44} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,45},{node,46}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,45} => {node,{var,name,'$17'},{leaf,any},{leaf,empty}},
   {node,46} => {node,{var,name,'$18'},{leaf,any},{leaf,empty}}},
 #{{node,8} => {node,{var,name,'$26'},{leaf,any},{leaf,empty}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,62} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,64},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,63} => {leaf,any},
   {node,64} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,63},{node,63}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,74} =>
       {node,
           {var,name,'$0'},
           {leaf,
               {ty,<<0:5>>,
                   {{0,nil},finite},
                   [],
                   {leaf,0},
                   0,
                   {{leaf,0},
                    #{2 =>
                          {node,
                              {ty_tuple,2,[{node,62},{node,62}]},
                              {leaf,0},
                              {node,
                                  {ty_tuple,2,[{node,63},{node,63}]},
                                  {leaf,1},
                                  {leaf,0}}}}},
                   {{leaf,0},#{}},
                   {leaf,0}}},
           {leaf,empty}}},
 #{{node,20} => {node,{var,name,'$0'},{leaf,any},{leaf,empty}}},
 #{{node,49} => {node,{var,name,'$42'},{leaf,any},{leaf,empty}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,51} => {node,{var,name,'$39'},{leaf,any},{leaf,empty}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,109} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,111},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,111} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,51},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,27} => {node,{var,name,'$8'},{leaf,any},{leaf,empty}},
   {node,32} => {node,{var,name,'$5'},{leaf,any},{leaf,empty}},
   {node,67} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,32},{node,27}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,56} => {node,{var,name,'$49'},{leaf,any},{leaf,empty}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,101} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,103},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,103} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,56},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,28} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,29},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,29} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,30},{node,31}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,30} => {node,{var,name,'$9'},{leaf,any},{leaf,empty}},
   {node,31} => {node,{var,name,'$10'},{leaf,any},{leaf,empty}}},
 #{{node,5} => {node,{var,name,'$37'},{leaf,any},{leaf,empty}}},
 #{{node,71} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,72},{node,73}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,72} => {node,{var,name,'$11'},{leaf,any},{leaf,empty}},
   {node,73} => {node,{var,name,'$12'},{leaf,any},{leaf,empty}}},
 #{{node,37} => {node,{var,name,'$13'},{leaf,any},{leaf,empty}},
   {node,42} => {node,{var,name,'$16'},{leaf,any},{leaf,empty}},
   {node,66} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,37},{node,42}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,87} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{set,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,88} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,1}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,89} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,1},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,92} =>
       {leaf,
           {ty,<<1:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,105} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{9 =>
                      {node,
                          {ty_tuple,9,
                              [{node,87},
                               {node,1},
                               {node,1},
                               {node,88},
                               {node,1},
                               {node,1},
                               {node,1},
                               {node,89},
                               {node,89}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,107},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,107} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,108},{node,92}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,108} => {node,{var,name,'Element'},{leaf,any},{leaf,empty}}},
 #{{node,6} => {node,{var,name,'$32'},{leaf,any},{leaf,empty}}},
 #{{node,68} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,69},{node,70}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,69} => {node,{var,name,'$3'},{leaf,any},{leaf,empty}},
   {node,70} => {node,{var,name,'$4'},{leaf,any},{leaf,empty}}},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [{right,0}],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}}},
 #{{node,21} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {node,{ty_tuple,2,[{node,22},{node,23}]},{leaf,1},{leaf,0}}}},
   {node,22} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{empty_map,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{2 =>
                      {node,
                          {ty_tuple,2,[{node,24},{node,25}]},
                          {leaf,1},
                          {leaf,0}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,23} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,1},#{}},
               {leaf,0}}},
   {node,24} => {node,{var,name,'$20'},{leaf,any},{leaf,empty}},
   {node,25} => {node,{var,name,'$21'},{leaf,any},{leaf,empty}}},
 #{{node,48} => {node,{var,name,'$41'},{leaf,any},{leaf,empty}}},
 #{{node,15} => {node,{var,name,'$40'},{leaf,any},{leaf,empty}}},
 #{{node,14} => {node,{var,name,'$33'},{leaf,any},{leaf,empty}}}].
