{{node,53},
 #{{node,1} =>
       {leaf,
           {ty,<<0:5>>,
               {{1,{foo,nil,nil}},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},#{}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,16} => {leaf,any},
   {node,27} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{1 =>
                      {node,
                          {ty_tuple,1,[{node,1}]},
                          {leaf,1},
                          {node,{ty_tuple,1,[{node,27}]},{leaf,1},{leaf,0}}}}},
               {{leaf,0},#{}},
               {leaf,0}}},
   {node,53} =>
       {leaf,
           {ty,<<0:5>>,
               {{0,nil},finite},
               [],
               {leaf,0},
               0,
               {{leaf,0},
                #{1 =>
                      {node,
                          {ty_tuple,1,[{node,1}]},
                          {node,{ty_tuple,1,[{node,16}]},{leaf,1},{leaf,0}},
                          {node,
                              {ty_tuple,1,[{node,16}]},
                              {node,
                                  {ty_tuple,1,[{node,27}]},
                                  {leaf,1},
                                  {leaf,0}},
                              {leaf,0}}}}},
               {{leaf,0},#{}},
               {leaf,0}}}}}.
